<div class="form-group">
  <mz-input-container>
    <i mz-icon-mdi mz-input-prefix [icon]="'email'"></i>
    <input mz-input [label]="'Email'" name="email"
    id="email" type="text" [(ngModel)]="email">
  </mz-input-container>
  <mz-input-container>
    <i mz-icon-mdi mz-input-prefix [icon]="'key'"></i>
    <input mz-input [label]="'Password'" name="password"
    id="password" type="password" [(ngModel)]="password">
  </mz-input-container>
  <button mz-button type="submit">
    <i mz-icon-mdi mz-input-prefix [icon]="'login-variant'"></i>
    Login
  </button>
</div>
